.home-room {
    background-color: #33ffbd;
    position: fixed;
    width: 25%;
    top: 0px;
    left: 0px;
    height: 100%;
}

.new-room-button {
    border: 1px solid black;
    padding: 0.5rem;
    margin-left: 0.5rem;
}

.new-room-button:hover {
    cursor: pointer;
}

.modal-box {
    position: fixed;
    top: 50%;
    left: 50%;
    margin-right: -50%;
    transform: translate(-50%, -50%);
}

.chat-section {
    position: fixed;
    left: 32%;
}

.current-room {
    text-align: center;
    text-decoration: underline;
}
.room-name {
    margin-top: 2rem;
}

.room-name:hover {
    cursor: pointer;
}

.user-name {
    text-align: center;
}

.time-sent {
    text-align: center;
}

.message-content {
    text-align: center;
    margin-top: 20px;
}
