.home-room {
    background-color: #33ffbd;
    position: fixed;
    width: 25%;
    top: 0px;
    left: 0px;
    height: 100%;
}
.new-room-button {
    border: 1px solid black;
    padding: 0.5rem;
    margin-left: 0.5rem;
}
.modal-box {
    position: fixed;
    top: 50%;
    left: 50%;
    margin-right: -50%;
    transform: translate(-50%, -50%);
}
